<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false">

    <!-- 1. On définit le répertoire de ton code applicatif -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!-- 2. Ta suite de tests -->
    <testsuites>
        <testsuite name="Default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- 3. Configuration de la couverture -->
    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>

</phpunit>
